In [19]:



from metaDateExtractor import getMetaData
from tableExtractor import getTableData
import glob
import pandas as pd




allPdfs=glob.glob('../PDFS/*')



main=[]
for pdf in allPdfs:
    tableData=getTableData(pdf)
    metaData=getMetaData(pdf)
    for i in tableData:
        i+=metaData
        i.append(pdf.replace('../PDFS/', ''))
        main.append(i)


# for i in main:
#     print(len(i))

dfColumns=['Order No.','OrderTime','TradeNo.','TradeTime',
            'Buy(B) /Sell(S)','Quantity','Gross Rate/trade price per Unit(Rs)',
            'Brokerage perUnit','NetRate perUnit(Rs)',
            'NetTotal(BeforeLevies)(Rs.)','Symbol','ISIN',
            'Company Name','Average Total(BeforeLevies)(Rs.)',
            'Total Buy','Total Sell','Name','ucc','pan','date','contNo','file'
            ]

pd.DataFrame(main,columns=dfColumns)
# tabledata=getTableData('Task4_Extractor_Script/PDFS/CN_FG08579_GRP1_1083222.PDF')
# # for i in tabledata:
# #     print(len(i))

# print(*tabledata,sep='\n')
# # print(len(tabledata))

,Order No.,OrderTime,TradeNo.,TradeTime,Buy(B) /Sell(S),Quantity,Gross Rate/trade price per Unit(Rs),Brokerage perUnit,NetRate perUnit(Rs),NetTotal(BeforeLevies)(Rs.),...,Company Name,Average Total(BeforeLevies)(Rs.),Total Buy,Total Sell,Name,ucc,pan,date,contNo,file
0,1000000015669959,13:58:25,2953659,13:58:25,B,9,525.0000,1.0500,526.0500,-4734.45,...,Apollo Pipes Limited,526.0500,9 @ 525.0000 = 4725.00,None,RAVINDRA CHOPRA,ACHPC0624P,17/05/2022,RAVINDRA CHOPRA,ACHPC0624P,CN_FG08579_GRP1_966091.PDF
1,1300000010250717,11:13:32,77208330,11:13:32,S,-20,3733.5000,1.1201,3732.3799,74647.60,...,Tata Consultancy Services Limited,3716.9570,None,30 @ 3736.9617 = 112108.85,RAVINDRA CHOPRA,FG08579,ACHPC0624P,21/02/2022,805482,CN_FG08579_GRP1_805482.PDF
2,1300000010250717,11:13:32,77208332,11:13:32,S,-2,3733.2000,7.4664,3725.7336,7451.47,...,Tata Consultancy Services Limited,3716.9570,None,30 @ 3736.9617 = 112108.85,RAVINDRA CHOPRA,FG08579,ACHPC0624P,21/02/2022,805482,CN_FG08579_GRP1_805482.PDF
3,1300000010250717,11:13:32,77208331,11:13:32,S,-1,3733.2500,1.1200,3732.1300,3732.13,...,Tata Consultancy Services Limited,3716.9570,None,30 @ 3736.9617 = 112108.85,RAVINDRA CHOPRA,FG08579,ACHPC0624P,21/02/2022,805482,CN_FG08579_GRP1_805482.PDF
4,1300000010250717,11:13:32,77208332,11:13:32,S,-8,3733.2000,1.1200,3732.0800,29856.64,...,Tata Consultancy Services Limited,3716.9570,None,30 @ 3736.9617 = 112108.85,RAVINDRA CHOPRA,FG08579,ACHPC0624P,21/02/2022,805482,CN_FG08579_GRP1_805482.PDF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,1000000021009092,13:59:49,3414124,13:59:49,B,101,178.8500,0.1789,179.0289,-18081.92,...,City Union Bank Limited,179.0289,162 @ 178.8500 = 28973.70,None,RAVINDRA CHOPRA,ACHPC0624P,23/08/2022,RAVINDRA CHOPRA,ACHPC0624P,CN_FG08579_GRP1_1131686.PDF
356,1100000020820748,13:56:30,2866718,13:56:30,B,341,83.6500,0.0837,83.7337,-28553.19,...,DCB Bank Limited,83.7337,341 @ 83.6500 = 28524.65,None,RAVINDRA CHOPRA,ACHPC0624P,23/08/2022,RAVINDRA CHOPRA,ACHPC0624P,CN_FG08579_GRP1_1131686.PDF
357,1100000020820743,13:59:40,2870776,13:59:40,B,19,1462.9500,1.4630,1464.4130,-27823.85,...,HDFC Bank Limited,1464.4130,19 @ 1462.9500 = 27796.05,None,RAVINDRA CHOPRA,ACHPC0624P,23/08/2022,RAVINDRA CHOPRA,ACHPC0624P,CN_FG08579_GRP1_1131686.PDF
358,1100000020820741,13:56:30,2867109,13:56:45,B,33,860.3500,0.8604,861.2104,-28419.94,...,ICICI Bank Limited,861.2104,33 @ 860.3500 = 28391.55,None,RAVINDRA CHOPRA,ACHPC0624P,23/08/2022,RAVINDRA CHOPRA,ACHPC0624P,CN_FG08579_GRP1_1131686.PDF
359,1100000020820746,13:59:55,2871025,13:59:55,B,630,45.4000,0.0454,45.4454,-28630.60,...,IDFC First Bank Limited,45.4454,630 @ 45.4000 = 28602.00,None,RAVINDRA CHOPRA,ACHPC0624P,23/08/2022,RAVINDRA CHOPRA,ACHPC0624P,CN_FG08579_GRP1_1131686.PDF